<!DOCTYPE html>
<html>
  <head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="assets/styles/vendor.css" />
    <link rel="stylesheet" href="assets/styles/app.css" />

    <!-- Scripts -->
    <script src="assets/javascripts/vendor.js"></script>
    <script src="assets/javascripts/app.js"></script>

  </head>

  <body>

    <div id='container-content'>
        <!-- Include the view file for the current controller/route -->
        <%- body %>
    </div>


    <script type="text/javascript" src="assets/javascripts/socket.io.js"></script>
    <script type="text/javascript" src="assets/javascripts/sails.io.js"></script>
    <script type="text/javascript" src="assets/javascripts/socket-ex.js"></script>

    </body>
</html>
