<div id='login-container'>
	<div class='row'>
		<div class='one columns'>
			<h5>
				Login
			</h5>
		</div>
	</div>
	<div class='row'>
		<div class='two columns'>
			<div class="field">
	  			<input class="input" type="email" placeholder="Username" />
			</div>
		</div>
		<div class='two columns'>
			<div class="field">
	  			<input class="input" type="password" placeholder="Password" />
			</div>
		</div>
	</div>
	<div class='row'>
		<div class="pretty medium default btn">
			<input type="submit" value="Submit">
		</div>
	</div>
</div>